torch==1.9.1+cu111
torchvision==0.10.1+cu111
torchaudio==0.9.1
torchtext==0.10.1
scikit-video==1.1.11
opencv-python==4.5.3.56
tensorboardx==2.4
pybullet=3.0.6
sh==1.14.2
ftfy==6.0.3
regex==2021.11.10
git+https://github.com/openai/CLIP.git
